body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70dvh;
    height: 60dvh;
    box-sizing: border-box;
  }
  
  .auth-form h1 {
    margin-bottom: 1.5rem;
    font-size: 24px;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .auth-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .auth-button:hover {
    background-color: #0056b3;
  }
  
  .toggle-link {
    margin-top: 1rem;
    color: #007bff;
    cursor: pointer;
  }
  
  .toggle-link span {
    text-decoration: underline;
  }
  
  .toggle-link span:hover {
    color: #0056b3;
  }
  